.audio-player
    background-color: #fff
    width: 30vw
    .player-buttons
        display: flex
        justify-content: center
    .p-dialog-content
        padding: 0
    .p-listbox
        border: none

