.audio-player
    display: flex
    flex-direction: column
    height: 100%
    .player-buttons
        z-index: 2
        background-color: #fff
    .player-buttons-mid
        display: flex
        align-items: center
        margin: 15px 0
    .player-buttons-top
        display: flex
        justify-content: flex-end
        border-bottom: solid 1px #f4f4f4
    .player-times
        display: flex
        justify-content: space-between
    .player-timeline
        margin: 0.5rem 0
    .audio-player-volume
        display: flex
        flex-direction: column
        align-content: center
        align-items: center
        width: 30px
    .player-list
        flex: 1
        z-index: 1

.audio-player-dialog
    top: 0
    right: 0
    position: fixed
    width: 30vw
    height: calc(100vh - 55px)
    background-color: #fff
    padding: 0 1rem
    @media (max-width: 1024px)
        width: 50vw
    @media (max-width: 560px)
        width: 80vw
    @media (max-width: 360px)
        width: 90vw
    .p-dialog-content
        padding: 0
        overflow: visible
        display: flex
        flex-direction: column
        height: 100%
    .p-listbox
        border: solid 1px #f4f4f4
        border-right: none
        border-radius: 0

.p-listbox .p-listbox-list
    padding: 0

.audio-player-dialog-small
    margin: 85px 0 5px
    .p-dialog-header
        display: none
    .p-dialog-content
        padding: 0
        display: flex
        justify-content: center
        align-items: center
        height: 100%
        flex-direction: column

.audio-player-dialog .p-listbox .p-listbox-list .p-listbox-item
    margin: 0
    padding: 0.5rem 5px
