.lesson-reader-dialog
    width: 68vw
    height: 100%
    max-height: calc(-10px + 100vh)
    background-color: #fff
    .p-dialog
        max-height: 100%
    .p-dialog-header
        background-color: #74d3e4
        padding: 0.5rem
        color: #000
    .p-dialog-header-maximize-icon, .p-dialog-header-close-icon
        color: #000
    .lesson-reader
        width: 100%
        height: 100%
        iframe
            width: 100%
            height: 100%
